[submodule "MRKRABSSDIYBT"]
	path = MRKRABSSDIYBT
	url = https://github.com/misterfonka/Unblocked-Cave
[submodule "SADSPONGE"]
	path = SADSPONGE
	url = https://github.com/jerebearishot/bbcunblocked.github.io
[submodule "SWORDZONE"]
	path = SWORDZONE
	url = https://github.com/TacoGuy21/Sword-Games
